<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208738624417-n2lt97qlqdk10kf3pmdd87s0a69bhk15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208738624417-n2lt97qlqdk10kf3pmdd87s0a69bhk15</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>208738624417-g1uoibql59kcpc8t8jjeac8d9hpro23l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLLgSHXHnsojWOehEaqqQfA77YN8_kD2w</string>
	<key>GCM_SENDER_ID</key>
	<string>208738624417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corestoneinnovations.sahachariadmin</string>
	<key>PROJECT_ID</key>
	<string>sahachari-32fca</string>
	<key>STORAGE_BUCKET</key>
	<string>sahachari-32fca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208738624417:ios:c3e9f979e13d37281ca1e0</string>
</dict>
</plist>